<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tickets</title>
  <style>
    .table,
    th,
    tr,
    td {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <container class="container">
    <nav>
      <a href="http://localhost:3000/">Home</a>
      Tickets
    </nav>
    <h1>Reported tickets</h1>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Reporter</th>
        <th>Manufacturer</th>
        <th>Serial number</th>
        <th>Description</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
      <%for(let i = 0; i < resp.length; i++){%>
      <tr>
        <td><%=resp[i].id%></td>
        <td><%=resp[i].reporter%></td>
        <td><%=resp[i].manufacturer%></td>
        <td><%=resp[i].serialno%></td>
        <td><%=resp[i].description%></td>
        <td><%=resp[i].date%></td>
        <td><button class="deletebutton">Delete</button></td>
      </tr>
      <%}%>
        </table>
      </container>
</body>
<script src="app.js"></script>
</html>